.book-card {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.book-card:nth-child(odd) {
    background-color: #ffc107;
}

.book-card:nth-child(even) {
    background-color: #007bff;
}