:root {
    --yellow: #ffc107;
    --blue: #007bff;
    --green: #01b101;
    --offBlack: #333;
    margin: 10px;
}

.book-card {
    border: 1px solid var(--offBlack);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.book-card:nth-child(odd) {
    background-color: var(--yellow);
}

.book-card:nth-child(even) {
    background-color: var(--blue);
}

.add-new-book {
    background-color: var(--green);
    color: var(--offBlack);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }

  .submit {
    margin-top: 8px;
    background-color: var(--green);
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
  }
  form {
    width: 200px;
    background-color: var(--yellow);
    font-size: 20px;
   padding: 5px;
  }
  input {
    background-color: var(--blue);
    font-size: 16px;
    width: 90%;
    border-radius: 8px;
  }
  dialog{
    margin: none;
  }